Blackjack homepage

<%= stylesheet_link_tag 'css_sprite' %>

<% @deck.each do |card| %>
  <span class="card <%= card.name %>-<%= card.suit %>"></span>
<% end %>

<%= @deck.shuffle %>

<main class="board">
  <section class="player">
      <h2>Player</h2>
        <span class="card two-diamond"></span>
        <span class="card two-diamond"></span>
  </section>

  <section class="dealer">
    <h2>Dealer</h2>
    <span class="card ace-spade"></span>
    <span class="card ace-diamond"></span>
  </section>
</main>
<p>
  <span class="card ace-spade"></span>
  <span class="card ace-diamond"></span>
  <span class="card ace-heart"></span>
  <span class="card ace-club"></span>
</p>

<p>
  <span class="card two-spade"></span>
  <span class="card two-diamond"></span>
  <span class="card two-heart"></span>
  <span class="card two-club"></span>
</p>

<p>
  <span class="card three-spade"></span>
  <span class="card three-diamond"></span>
  <span class="card three-heart"></span>
  <span class="card three-club"></span>
</p>

<p>
  <span class="card four-spade"></span>
  <span class="card four-diamond"></span>
  <span class="card four-heart"></span>
  <span class="card four-club"></span>
</p>

<p>
  <span class="card five-spade"></span>
  <span class="card five-diamond"></span>
  <span class="card five-heart"></span>
  <span class="card five-club"></span>
</p>

<p>
  <span class="card six-spade"></span>
  <span class="card six-diamond"></span>
  <span class="card six-heart"></span>
  <span class="card six-club"></span>
</p>

<p>
  <span class="card seven-spade"></span>
  <span class="card seven-diamond"></span>
  <span class="card seven-heart"></span>
  <span class="card seven-club"></span>
</p>

<p>
  <span class="card eight-spade"></span>
  <span class="card eight-diamond"></span>
  <span class="card eight-heart"></span>
  <span class="card eight-club"></span>
</p>

<p>
  <span class="card nine-spade"></span>
  <span class="card nine-diamond"></span>
  <span class="card nine-heart"></span>
  <span class="card nine-club"></span>
</p>

<p>
  <span class="card ten-spade"></span>
  <span class="card ten-diamond"></span>
  <span class="card ten-heart"></span>
  <span class="card ten-club"></span>
</p>

<p>
  <span class="card jack-spade"></span>
  <span class="card jack-diamond"></span>
  <span class="card jack-heart"></span>
  <span class="card jack-club"></span>
</p>

<p>
  <span class="card queen-spade"></span>
  <span class="card queen-diamond"></span>
  <span class="card queen-heart"></span>
  <span class="card queen-club"></span>
</p>

<p>
  <span class="card king-spade"></span>
  <span class="card king-diamond"></span>
  <span class="card king-heart"></span>
  <span class="card king-club"></span>
</p>
