@import "bootstrap-sprockets";
@import "bootstrap";

 $card-height: 70px;
 $card-width: 50px;

.board {
  width: 100%;
  background: grey;
  clear: both;
  overflow: hidden;
}
.dealer, .player {
  width: 40%;
  float: left;
}

.dealer {

}

.player {

}

 .card {
  display: inline-block;
  width: $card-width;
  height: $card-height;
  background-image: image-url('cards.png');
}

.ace-spade { background-position: 0 $card-height * -.01; }
.ace-diamond { background-position: 0 $card-height * 2.01; }
.ace-heart { background-position: 0 $card-height * .999; }
.ace-club { background-position: 0 $card-height * 3.025; }

.two-spade { background-position: -51px 0px; }
.two-diamond { background-position: -51px 142px; }
.two-heart { background-position: -51px 71px; }
.two-club { background-position: -51px 212px; }

.three-spade { background-position: -102px 0px; }
.three-diamond { background-position: -102px 142px; }
.three-heart { background-position: -102px 71px; }
.three-club { background-position: -102px 212px; }

.four-spade { background-position: -154px 0px; }
.four-diamond { background-position: -154px 142px; }
.four-heart { background-position: -154px 71px; }
.four-club { background-position: -154px 212px; }

.five-spade { background-position: -205px 0px; }
.five-diamond { background-position: -205px 142px; }
.five-heart { background-position: -205px 71px; }
.five-club { background-position: -205px 212px; }

.six-spade { background-position: -256px 0px; }
.six-diamond { background-position: -256px 142px; }
.six-heart { background-position: -256px 71px; }
.six-club { background-position: -256px 212px; }

.six-spade { background-position: -255px 0px; }
.six-diamond { background-position: -255px 142px; }
.six-heart { background-position: -255px 71px; }
.six-club { background-position: -255px 212px; }

.seven-spade { background-position: -306px 0px; }
.seven-diamond { background-position: -306px 142px; }
.seven-heart { background-position: -306px 71px; }
.seven-club { background-position: -306px 212px; }

.eight-spade { background-position: -357px 0px; }
.eight-diamond { background-position: -357px 142px; }
.eight-heart { background-position: -357px 71px; }
.eight-club { background-position: -357px 212px; }

.nine-spade { background-position: -408px 0px; }
.nine-diamond { background-position: -408px 142px; }
.nine-heart { background-position: -408px 71px; }
.nine-club { background-position: -408px 212px; }

.ten-spade { background-position: -459px 0px; }
.ten-diamond { background-position: -459px 142px; }
.ten-heart { background-position: -459px 71px; }
.ten-club { background-position: -459px 212px; }

.jack-spade { background-position: -511px 0px; }
.jack-diamond { background-position: -511px 142px; }
.jack-heart { background-position: -511px 71px; }
.jack-club { background-position: -511px 212px; }

.queen-spade { background-position: -562px 0px; }
.queen-diamond { background-position: -562px 142px; }
.queen-heart { background-position: -562px 71px; }
.queen-club { background-position: -562px 212px; }

.king-spade { background-position: -613px 0px; }
.king-diamond { background-position: -613px 142px; }
.king-heart { background-position: -613px 71px; }
.king-club { background-position: -613px 212px; }
